
@{
    ViewBag.Title = "UserNotFound";
    Layout = "~/Views/Shared/_LayoutAdminDash.cshtml";
}


<div class="u-s-m-b-8">
    @*@using (Html.BeginForm("Searchacc", "Products", new { }, FormMethod.Post, new { @class = "my-form-class" }))*@
    @using (Html.BeginForm("SearchUser", "AspNetUsers"))
    {
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" id="search" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><i class="icon-search"></i></button>
                    </span>
                </div>
            </div>
        </div>
    }
</div>
<h2>UserNotFound</h2>

